<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <p>
        登陆名称：<input type="text" id="uname">
        <span id="show"></span>
    </p>
    <script>
        $(function () {
            $("#uname").blur(function () {
        //    创建xhr
            var xhr  = createXhr();
        //    创建请求
            xhr.open("post","06-server",true);
        //    创建回调函数
            xhr.onreadystatechange = function () {
                if(xhr.readyState==4&&xhr.status ==200){
                    $("#show").html(xhr.responseText)
                }
            };
        //    设置Content-Type
             xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        //    发送请求
            xhr.send('uname='+$("#uname").val())
        })
        })
    </script>
</body>
</html>