<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <button id="btnload">使用load加载</button>
    <div id="show"></div>
</body>
    <script>
        $(function () {
            $("#btnload").click(function () {
                // var params = "name=sf.zhang&age=85";  //字符串传参 get 方式
                //post方式
                var params ={
                    "name":"sf.zhang",
                    "age":85
                };
               $("#show") .load('/03-server',params,function (resText,statusText) {
                   /*8console.log("resText:"+resText)
                   console.log("statusTex:"+statusText)*/
                   $(this).html("<h1>"+resText+"</h1>");
               });
            });
        });
    </script>
</html>